# Navigation
* [Numpy](#-Numpy)

In [6]:
import pandas as pd

In [9]:
#series = 1-dimensional
# main datatypes
series = pd.Series(["BMW","Toyota","Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [7]:
car_data = pd.read_csv(r"C:\Users\core i5\Desktop\GitHub\DataScience\datascience\ZTM - Data Science and Machine Learning\data\7.1 car-sales.csv")

car_data["Price"] = car_data["Price"].str.replace("\$|\,", "")
car_data = car_data.astype({"Price":float})
car_data

C:\Users\core i5\AppData\Local\Temp/ipykernel_17012/2040512993.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  car_data["Price"] = car_data["Price"].str.replace("\$|\,", "")

     Make Colour  Odometer (KM)  Doors    Price
0  Toyota  White         150043      4   4000.0
1   Honda    Red          87899      4   5000.0
2  Toyota   Blue          32549      3   7000.0
3     BMW  Black          11179      5  22000.0
4  Nissan  White         213095      4   3500.0
5  Toyota  Green          99213      4   4500.0
6   Honda   Blue          45698      4   7500.0
7   Honda   Blue          54738      4   7000.0
8  Toyota  White          60000      4   6250.0
9  Nissan  White          31600      4   9700.0

In [4]:
car_data.describe()

       Odometer (KM)      Doors         Price
count      10.000000  10.000000     10.000000
mean    78601.400000   4.000000   7645.000000
std     61983.471735   0.471405   5379.407753
min     11179.000000   3.000000   3500.000000
25%     35836.250000   4.000000   4625.000000
50%     57369.000000   4.000000   6625.000000
75%     96384.500000   4.000000   7375.000000
max    213095.000000   5.000000  22000.000000

In [5]:
print(car_data.groupby(["Colour","Make"]).mean())
# specify the numerical column where mean (or other functions) will be applied by using ["Price"] after the .groupby method, for example
# .groupby is used to easily find stats around a categorical objects in relation to their numerical values.

               Odometer (KM)  Doors    Price
Colour Make
Black  BMW           11179.0    5.0  22000.0
Blue   Honda         50218.0    4.0   7250.0
       Toyota        32549.0    3.0   7000.0
Green  Toyota        99213.0    4.0   4500.0
Red    Honda         87899.0    4.0   5000.0
White  Nissan       122347.5    4.0   6600.0
       Toyota       105021.5    4.0   5125.0

# Numpy